
.chart {
    transform: rotate(-25deg);
    width: 200px !important;
}

.row>* {
    padding-right: calc(var(--bs-gutter-x) * .0) !important;
    padding-left: calc(var(--bs-gutter-x) * .0) !important;
}

.table-data td {
    padding: 0px 5px;
}

.chart-container {
    width: 250px !important;
    height: 500px;
    overflow: scroll;
}

h3, .table-data th, .chart-container th {
    color: gray;
}

.chart-container tbody {
    border-bottom: transparent;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.title-bold {
    font-weight: 600;
}

.hidden {
    display: none;
}

.type {
    width: 40%;
}




@media only screen and (max-width:1200px) {
    .charts {
        margin-top: 24px !important;
    }
}

@media only screen and (max-width:990px) {
    .charts {
        margin-top: 48px !important;
    }
}

@media only screen and (width:770px) {
    .row>* {
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
    }
    
}